doctype html
html(lang='en')
  head
    title Outdated Packages
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    style.
      table.ui.celled img { display: inline-block; }
      footer { margin: 35px 0 15px 0; text-align: center }
  body
    main#main
    h1.ui.center.aligned.header Outdated Packages
    .ui.container
      each outdatedPackages, packageFile in packageFiles
          h1 #{packageFile}
          table.ui.celled.table.center.aligned
            thead
              tr
                th <u>Package Name</u>
                th <u>Current Version</u>
                th <u>Latest Version</u>
            tbody
                each outdatedPackage in outdatedPackages
                  tr
                      td #{outdatedPackage.name}
                      td <p style="color:red">#{outdatedPackage.currentVersion}</p>
                      td <p style="color:green">#{outdatedPackage.latestVersion}</p>
            tfoot
              tr
                th(colspan='3')
    footer
      p © #{new Date().getFullYear()} Outdated Packages